
body{
    margin: 0 auto;
    background-image: url(../Images/background.png);
}
#header{
    background-color: #000;
    width: 100%;
    height: 200px;
    box-shadow: #999999 0px 15px 5px;
    color: #ffffff;
}
#headerCenter{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
#hoja{
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: #999999 10px 10px 5px;
    border: #cccccc solid 1px;
}
.loginInput{
    width: 250px;
}
.loginInput:focus{
    width: 250px;
    background-color: #A8CF45;
    color: #ffffff;
}
.loginButton{
    margin-top: 10px;
    background-color: #A8CF45;
    border-color: #076799;
}
.loginButton:hover{
    margin-top: 10px;
    border-color: #A8CF45;
    background-color: #076799;
}
#formLogin{
    margin-top: 10px;
    float: right;
}
#iconContainer{
    margin-top: 30px;
    float:left;
}
#menu{
    width: 100%;
    height: 50px;
    background-color: #A8CF45;
    color: #ffffff;
}
.menuItem{
    width: 200px;
    height: 100%;
    border-right: #076799 solid medium;
    float: left;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.menuItem:hover{
    box-shadow: #999999 3px 3px 3px;
    background-color: #ffffff;
    color: #A8CF45;
    border-right: none;
}
.mapa{
    width: 100%; 
    height: 300px;
}
.formulario{
    width: 100%;
    overflow: auto;
}
.tituloGrande{
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
    color: #A8CF45;
    text-shadow: #000000 1px 1px 1px;
}
.contenidoFormulario{
    width: 30%;
    padding-left: 20px;
    float: left;
    height: 400px;
}
.columnas{
    width: 70%;
    min-height: 300px;
    float: left;       
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px; //espacio entre columnas
    -moz-column-gap: 20px;
    column-gap: 20px;
    float: left;
    line-height: 50px;
    height: 400px;
}
.aceptar{
    width: 100%;
    text-align: center;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:21px;
    height:16px; 
    display:inline-block;
    line-height:16px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:16px;
    vertical-align:middle;
    cursor:pointer;
    
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -16px;
}
label.css-label {
    background-image:url(../Images/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: inherit;
}
.escondido{
    display: none;
}